body {
    font-family: 'Raleway', sans-serif;
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}

.header-container {
    display: flex;
    background-color: black;
    width: 1280px;
    height: 73px;
    justify-content: center;
    align-items: center;
}

.header-item {
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

.main-container {
    background-image: url("../img/bg-header.jpg");
    width: 1280px;
    height: 727px;
}

.contenido-container {
    display: flex;
    background-color: black;
    width: 1280px;
    height: 348px;
    justify-content: space-evenly;
    align-items: center;
}

.contenido-item {
    width: 475px;
}

.contenido-texto {
    text-align: justify;
    color: white;
    font-weight: lighter;
}

.nav-titulo-container {
    display: flex;
    background-color: #1E1A13;
    width: 1280px;
    height: 122px;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
}

.nav-titulo-texto {
    color: white;
    font-size: 40px;
    margin: 0;
    font-weight: bolder;
}

.nav-iconos-container {
    display: flex;
    background-color: #1E1A13;
    width: 1280px;
    height: 226px;
    justify-content: space-evenly;
    align-items: center;
}

.nav-iconos-item {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.galeria-container {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 1280px;
    height: 348px;
    align-items: center;
}

.galeria-item {
    margin: 10px;
}

.footer-container {
    display: flex;
    background-color: #1e1a13;
    width: 1280px;
    height: 102px;
    justify-content: center;
    align-items: center;
}

.footer-item {
    color: white;
    font-size: 20px;
    font-weight: lighter;
}